# OS X
.DS_Store*
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
.vscode
package-lock.json
*.log
*.gz
private


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

combined.log
error.log

.idea/
.idea
